@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.message {
  padding: 20px 30px;
  margin-top: 10px;
  border-radius: 30px;
  color: black;
  background-color: white;
}

.message button {
  border-radius: 40px;
  background-color: #40cbd6;
}

th,
td {
  padding: 5px;
  font-size: 16px;
}

#send {
  border-radius: 40px;
  border: none;
  background-color: #e9e7e7;
  font-size: 16px;
  padding: 0 15px;
  height: 40px;
}

#btn-send {
  padding: 0;
  font-size: 16px;
  border-radius: 20px;
  background-color: #239199;
  border: none;
  height: 40px;
}

#senders {
  padding: 30px 0;
  background-color: #40cbd6;
  border-radius: 30px;
}

#sender-c {
  background: linear-gradient(180deg, #40bde6 0%, #d7ede2 100%);
  mix-blend-mode: normal;
}

#btn-send {
  background-color: #c4c4c4;
  color: white;
}
#btn-send1 {
  background-color: #c4c4c4;
  margin-top: 20px;
  color: white;
}

#btn-send1:hover {
  background-color: #746f6f;
}

.custom-input {
  border-radius: 30px;
  padding: 0 20px;
  border: none;
}

.custom-btn {
  background-color: #40cbd6;
  border-radius: 40px;
}

*:focus {
  border: 1px solid #239199;
}

.ov-container {
  min-height: 70vh;
}

.ov-inp {
  color: black;
  background-color: #e9e7e7;
}

#sender-btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: none;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #3bbbc6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
#sender-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

input:focus,
textarea:focus {
  outline: 0;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

#refresh {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  background: #36b1b9;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

#refresh:hover {
  background: #239199;
  text-decoration: none;
}
@media only screen and (max-width: 400px) {
  #text {
    height: 100px;
  }
  #container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
